.header {
    position: relative;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 10;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 20px 20px;
    transition: all 0.6s ease;

}

.logo {
    width: auto;
    height: 50px;
}

.navbar {
    display: flex;
    list-style: none;
}

.navbar a {
    padding: 50px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navbar a:hover {
    color: #B79E5F;
    transition: 0.4s all;


}

.navbar li {
    padding: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;

}

.container {

    display: none;
}

.menu {

    display: none;
}

@media (max-width: 1366px) {

    .navbar a {
        padding: 30px;
        text-decoration: none;
        color: white;
        cursor: pointer;
    }


}

/*moible*/

@media screen and (max-width: 768px) {

    .header {

        border-radius: 0px 0px 0px 0px;



    }

    .sticky {
        position: fixed;
        top: 0;
        



    }

    .fechar {
        margin-left: 80%;
        margin-top: 20px;


    }

    .navFechar {
        display: none;
        animation: slideOut 0.4s forwards;
       

    }

    .navbar {
        display: none;

    }

    .logo {
        margin-top: 15px;
        z-index: 0;

    }

    .container {

        position: absolute;
        display: none;
        margin: 0;
        width: 380px;
        height: 1000px;
        flex-shrink: 0;
        border-radius: 0px 0px 35px 0px;
        opacity: 0.95;
        background: #000;
        backdrop-filter: blur(10px);
        z-index: 9999;
        transition: left 0.4s ease
    }

    .menuAberto {

        display: block;
        animation: slideIn 0.4s forwards;




    }

    @keyframes slideIn {
        from {
            left: -380px;
            /* Começa fora da tela */
        }

        to {
            left: 0;
            /* Termina na posição visível */
        }
    }

    @keyframes slideOut {
        from {
            left: 0;
            /* Começa na posição visível */

        }

        to {
            left: -380px;
            /* Termina fora da tela */

        }
    }

    .menu {
        display: block;
        margin: 0;
        margin-left: 80%;


    }

    .menu img {
        display: flex;
        width: 64px;
        height: 100px;
        z-index: 0;



    }



    .logo2 {
        width: 100%;
        margin: 0;

    }

    .navbarLateral {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 10%;

    }

    .navbarLateral ul {
        text-align: left;
        list-style: none;
    }

    .navbarLateral li {
        margin: 40px;
        margin-left: 20%;
    }

    .navbarLateral a {
        text-decoration: none;
        color: #FFF;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }


}

@media (max-width: 425px) {

    .header {

        border-radius: 0px 0px 0px 0px;
        position: relative;


    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;


    }

    .fechar {
        margin-left: 80%;
        margin-top: 20px;

    }

    .navFechar {
        display: none;

    }

    .navbar {
        display: none;

    }

    .logo {
        margin-top: 15px;

    }

    .container {

        position: absolute;
        transition: all 0.3 ease-in-out;
        display: none;
        margin: 0;
        width: 220px;
        height: 1000px;
        flex-shrink: 0;
        border-radius: 0px 0px 35px 0px;
        opacity: 0.95;
        background: #000;
        backdrop-filter: blur(10px);
        z-index: 1;

    }

    .menuAberto {

        display: block;


    }

    .menu {
        display: block;
        margin: 0;
        margin-left: 60%;


    }

    .menu img {
        display: flex;
        width: 44px;
        height: 80px;
    }



    .logo2 {
        width: 100%;
        margin: 0;

    }

    .navbarLateral {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 10%;

    }

    .navbarLateral ul {
        text-align: left;
        list-style: none;
    }

    .navbarLateral li {
        margin: 40px;
        margin-left: 20%;
    }

    .navbarLateral a {
        text-decoration: none;
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }


}